@import url(./css/theme.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    font-size: 62.5%;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12rem;
    font-weight: 500;
    transition: all .3s ease-out;
}

#contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    height: 100vh;
}

#displayWrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#displayTimer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#displayTimer span {
    line-height: 10rem;
}

#displayControlsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.displayButton {
    background: none;
    border: none;
}

#soundsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3.2rem;
}

.soundButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2.4rem;

    border-radius: 2rem;

    width: 13.8rem;
    height: 15.2rem;
}

.soundButton button {
    background: none;
    border: none;
}

input[type=range] {
    appearance: none;
    border-radius: .5rem;
    height: .6rem;
    width: 100%;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    border-radius: 100%;
    width: 1.6rem;
    height: 1.6rem;
}

input[type=range]::-ms-thumb {
    appearance: none;
    border-radius: 100%;
    width: 1.6rem;
    height: 1.6rem;
}

#themeButton {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 2rem;
    right: 2rem;

    width: 4.8rem;
    height: 4.8rem;
}

#lightIcon, #darkIcon {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-out;
}

@media screen and (min-width: 1200px) {

    #contentWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30rem;
    
    }

}